<!-- noteArchive.html -->

<div class="row animated bounceInRight" ng-controller="NoteController as vm">
    <div class="col-md-12">
        <h1>Note Archive</h1>
        <div class="note-archive">
            <div class="note-archive-header col-md-12">
                Sort by: 
                <button class="btn btn-default btn-xs" ng-click="noteArchivePredicate='fromEmail'; reverse=!reverse">"From" Email</button>
                <button class="btn btn-default btn-xs" ng-click="noteArchivePredicate='toEmail'; reverse=!reverse">"To" Email</button>
                <button class="btn btn-default btn-xs" ng-click="noteArchivePredicate='sendDate'; reverse=!reverse">Date</button>
            </div>
            <div class="note-archive-row col-md-12" ng-repeat="note in vm.noteArchive | orderBy:noteArchivePredicate:reverse">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="note-archive-row-cell col-md-4"><strong>From:</strong> {{ note.fromEmail }}</span>
                        <span class="note-archive-row-cell col-md-4"><strong>To:</strong> {{ note.toEmail }}</span>
                        <span class="note-archive-row-cell col-md-3"><strong>Date:</strong> {{ note.sendDate | date: "MM/dd/yyyy h:mma"}}</span>
                        <span class="note-archive-row-cell col-md-1">
                            <button class="btn btn-danger btn-xs" ng-click="vm.removeNote(note)"><i class="fa fa-minus fa-sm"></i> Delete</button>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                            <p class="note-archive-message">{{ note.message }}</p>
                    </div>
                </div>
                
                    
            </div>
        </div>
    </div>
</div>
