<!-- note.html -->

<div class="row animated bounceInRight" ng-controller="NoteController as vm">
    <div class="col-md-6">
        <h1>Send Note</h1>
        <form name="newNoteForm" ng-model="vm.note" novalidate>
            <div class="form-group">
                <label for="noteFromName">From <span class="required">*</span></label>
                <input type="email" class="form-control" id="noteFromName" placeholder="Select &quot;From&quot; recipient from list"  ng-model="vm.note.fromEmail" required readonly />
            </div>
            <div class="form-group">
                <label for="noteToName">To <span class="required">*</span></label>
                <input type="email" class="form-control" id="noteToName" placeholder="Select &quot;To&quot; recipient from list"  ng-model="vm.note.toEmail" required readonly />
            </div>
            <div class="form-group">
                <label for="noteMessage">Message <span class="required">*</span></label>
                <textarea class="form-control" id="noteMessage" placeholder="Enter message" rows="5" ng-model="vm.note.message" required></textarea>
            </div>
            <p><span class="required">*</span> Required fields</p>
            <div class="form-group">
                <input type="submit" value="Send" ng-disabled="!newNoteForm.$valid" ng-class="{'btn btn-success': newNoteForm.$valid, 'btn btn-default': !newNoteForm.$valid}" ng-click="vm.sendNote()"/>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h1>People</h1>
        <div class="person-list">
            <div class="person-header">
                <span class="person-header-cell" ng-click="peopleListPredicate='firstName'; reverse=!reverse">First Name</span>
                <span class="person-header-cell" ng-click="peopleListPredicate='lastName'; reverse=!reverse">Last Name</span>
                <span class="person-header-cell person-email" ng-click="peopleListPredicate='email'; reverse=!reverse">Email</span>
            </div>
            <div class="person-row" ng-repeat="person in vm.peopleList | orderBy:peopleListPredicate:reverse">
                <span class="person-row-cell">{{ person.firstName }}</span>
                <span class="person-row-cell">{{ person.lastName }}</span>
                <span class="person-row-cell person-email">{{ person.email }}</span>
                <span class="person-row-cell">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addFrom(person)">From</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addTo(person)">To</button>
                </span>
            </div>
        </div>
    </div>

</div>
