/* assets/css/main.css */

/* General styles */
.required
{
    color: #F00;
}

.remove-btn:hover {
    cursor: pointer;
    color: #F00;
}

/* People */
.person-header {
    margin-top: 0.5em;
}

.person-header-cell {
    width: 22%;
    display: inline-block;
    background-color: #CDE855;
    font-weight: bold;
    padding-left: 0.357em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person-header-cell:hover {
    cursor: pointer;
}

.person-row-cell {
    width: 22%;
    display: inline-block;
    padding-left: 0.357em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person-email {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person-edit-btn:hover {
    cursor: pointer;
    color: #A7C520;
}


/* Note Archive */
.note-archive-header {
    margin-bottom: 0.85em;
}

.note-archive-row-cell {
    color: #000;
}

/* Bootstrap overrides */
.input-group .input-group-addon {
    background-color: #CDE855;
    color: #000;
}

.panel-default .panel-heading {
    background-color: #CDE855;
}


