<div ng-model="vm.selectedPerson">
    <div class="modal-header"><h4>Edit - {{ vm.selectedPerson.lastName }}, {{ vm.selectedPerson.firstName }}</h4></div>
    <div class="modal-body">
        <form name="personEditForm">
            <div class="form-group">
                <label for="personFirstName">First Name <span class="required">*</span></label>
                <input type="text" class="form-control" id="personFirstName" name="personFirstName" placeholder="Enter first name" ng-model="vm.selectedPerson.firstName"  required />
                <span class="required" ng-show="personEditForm.$submitted && personEditForm.personFirstName.$invalid">
                    <span ng-show="personEditForm.personFirstName.$error.required">First name is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="personLastName">Last Name <span class="required">*</span></label>
                <input type="text" class="form-control" id="personLastName" name="personLastName" placeholder="Enter last name" ng-model="vm.selectedPerson.lastName" required />
                <span class="required" ng-show="personEditForm.$submitted && personEditForm.personLastName.$invalid">
                    <span ng-show="personEditForm.personLastName.$error.required">Last name is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="personEmail">Email <span class="required">*</span></label>
                <input type="email" class="form-control" id="personEmail" name="personEmail" placeholder="Enter email" ng-model="vm.selectedPerson.email" required />
                <span class="required" ng-show="personEditForm.$submitted && personEditForm.personEmail.$invalid">
                    <span ng-show="personEditForm.personEmail.$error.required">Email is required.</span>
                    <span ng-show="personEditForm.personEmail.$error.email">Invalid email address.</span>
                </span>
            </div>
            <p><span class="required">*</span> Required fields</p>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
            ng-disabled="!personEditForm.$valid"
            ng-class="{'btn btn-success': personEditForm.$valid, 'btn btn-default': !personEditForm.$valid}"
            ng-click="vm.save(vm.selectedPerson)">Save</button>
        <button class="btn" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>
