<!-- people.html -->
<div class="row animated bounceInLeft" ng-controller="PeopleController as vm">
    <div class="col-md-4">
        <h1>Add A Person</h1>
        <form name="newPersonForm" ng-model="vm.person" novalidate>
            <div class="form-group">
                <label for="personFirstName">First Name <span class="required">*</span></label>
                <input type="text" class="form-control" id="personFirstName" name="personFirstName" placeholder="Enter first name" ng-model="vm.person.firstName"  required />
                <span class="required" ng-show="newPersonForm.$submitted && newPersonForm.personFirstName.$invalid">
                    <span ng-show="newPersonForm.personFirstName.$error.required">First name is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="personLastName">Last Name <span class="required">*</span></label>
                <input type="text" class="form-control" id="personLastName" name="personLastName" placeholder="Enter last name" ng-model="vm.person.lastName" required />
                <span class="required" ng-show="newPersonForm.$submitted && newPersonForm.personLastName.$invalid">
                    <span ng-show="newPersonForm.personLastName.$error.required">Last name is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="personEmail">Email <span class="required">*</span></label>
                <input type="email" class="form-control" id="personEmail" name="personEmail" placeholder="Enter email" ng-model="vm.person.email" required />
                <span class="required" ng-show="newPersonForm.$submitted && newPersonForm.personEmail.$invalid">
                    <span ng-show="newPersonForm.personEmail.$error.required">Email is required.</span>
                    <span ng-show="newPersonForm.personEmail.$error.email">Invalid email address.</span>
                </span>
            </div>
            <p><span class="required">*</span> Required fields</p>
            <div class="form-group">
                <input type="submit" value="Add" ng-disabled="!newPersonForm.$valid" ng-class="{'btn btn-success': newPersonForm.$valid, 'btn btn-default': !newPersonForm.$valid}" ng-click="vm.addPerson()" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h1>People</h1>
        <div class="person-list">
            <div class="input-group input-group-sm col-md-9">
                <span class="input-group-addon">Search people</span>
                <input type="text" class="form-control" ng-model="personSearch" />
            </div>
            <div class="person-header">
                <span class="person-header-cell" ng-click="predicate='firstName'; reverse=!reverse">First Name <i class="fa fa-sort pull-right fa-border"></i></span>
                <span class="person-header-cell" ng-click="predicate='lastName'; reverse=!reverse">Last Name <i class="fa fa-sort pull-right fa-border"></i></span>
                <span class="person-header-cell person-email" ng-click="predicate='email'; reverse=!reverse">Email <i class="fa fa-sort pull-right fa-border"></i></span>
            </div>
            <div class="person-row" ng-repeat="person in vm.peopleList | orderBy:predicate:reverse | filter:personSearch">
                <span class="person-row-cell">{{ person.firstName }}</span>
                <span class="person-row-cell">{{ person.lastName }}</span>
                <span class="person-row-cell person-email">{{ person.email }}</span>
                <span class="person-row-cell">
                    <i class="person-edit-btn fa fa-pencil fa-lg" title="Edit person" ng-click="vm.openEditForm(person)"></i>
                    <i class="remove-btn fa fa-trash-o fa-lg" title="Delete person" ng-click="vm.removePerson(person)"></i>
                </span>
            </div>
        </div>
    </div>
</div>
